NODE_ENV=development
PORT=3000

#Debugging
DEBUG=express:* node index.js

#Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=
POSTGRES_HOST=

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_CLUSTER=
MONGODB_DB_NAME=